#dice-board {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 300px;
	margin: auto;
}

.dice {
    width: 100px !important;
    height: 100px !important;
    border: 2px solid black !important;
    border-radius: 8px !important;
    font-size: 64px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  

@keyframes roll-dice {
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(180deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
