/* Estilos do tabuleiro do jogo */
#game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #dice-board {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .dice {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin: 30px auto;
    transform-style: preserve-3d; /* adicione essa propriedade */
  }
  
  
  /* Estilos da área de apostas */
  #betting-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  #betting-area label {
    margin-right: 10px;
  }
  
  #betting-area input[type="number"] {
    width: 50px;
  }
  
  /* Estilos do painel de controle */
  #control-panel {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  #roll-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #roll-button:hover {
    background-color: #3E8E41;
  }
  
  /* Animação do dado */
  .roll {
    animation: roll 1s linear;
  }
  
  @keyframes roll {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
    100% {
      transform: rotateX(720deg) rotateY(720deg) rotateZ(720deg);
    }
  }

  
  
